body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    text-align: center; /* Center content */
}

.member-input {
    margin: 10px 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align */
}

.member-input input {
    width: 100%; /* Ensure input takes full width */
    margin-bottom: 5px; /* Space between input and remove button */
}

input[type="text"], input[type="password"], textarea {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 2px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0; /* Add spacing between buttons */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

/* Style for the Add Member button */
#addMemberBtn {
    background-color: #28a745; /* Green */
}

#addMemberBtn:hover {
    background-color: #218838; /* Darker green on hover */
}

/* Style for the Remove button */
.removeMemberBtn {
    background-color: #dc3545; /* Red */
}

.removeMemberBtn:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Style for Register and Login buttons */
#registerBtn,
#loginBtn {
    background-color: #28a745; /* Green */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effects */
}

#registerBtn:hover,
#loginBtn:hover {
    background-color: #218838; /* Darker green on hover */
}

#submitAnswerBtn,
#submitLateAnswerBtn {
    background-color: #28a745; /* Green color */
}
#backToIndexBtn,
#dashboardBtn {
    background-color: #007bff; /* Blue for Index Button */
}

#backToIndexBtn:hover,
#dashboardBtn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#downloadProblemBtn,
#downloadLateProblemBtn {
    background-color: #009688; /* Blue for Index Button */
}
#downloadProblemBtn:hover,
#downloadLateProblemBtn:hover {
    background-color: #00796b; /* Blue for Index Button */
}

#goToLateSubmitBtn,
#backToSubmitBtn {
    background-color: orange;
}

#goToLateSubmitBtn:hover,
#backToSubmitBtn:hover {
    background-color: darkorange;
}
