body{
    background-color: whitesmoke;
    margin: 0px;
    box-sizing: border-box;
}
th{
    background-color: antiquewhite;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 2px;
}
th:active{
    background-color: white;
}
table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

#mobile-bar{display: none}
#PC-bar{display: table; width: 100%}
@media (max-width: 980px){
#PC-bar{display: none}
#mobile-bar{display: table; width: 100%; height: 160px;}
}

  .polyhedron {
    position: relative;
      margin: 5em auto 0;
      padding: 0;
      width: 16em; height: 16em;
    perspective: 100em;
      transform-style: preserve-3d;
    animation: rot 20s infinite linear;
    zoom: 2;
  }
  @keyframes rot {
      from { transform: rotateZ(-15deg) rotateX(45deg) rotateY(0deg); }
      to { transform: rotateZ(345deg) rotateX(-315deg) rotateY(360deg); }
  }
  .side, .side:after {
    overflow: hidden;
    position: absolute;
    width: inherit; height: inherit;
    opacity: 0.7;;
  }
  .triangle:after {
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
    content: '';
  }
  .tetrahedron .side.triangle:first-child {
    transform: translateZ(4.6188em) 
      rotateX(19.47deg) 
      rotate(30deg) skewY(30deg) scaleX(.866);
  }
  .tetrahedron .side.triangle:first-child:after {
    background: green;
  }
  .tetrahedron .side.triangle:nth-child(2) {
    transform: rotateY(120deg) translateZ(4.6188em) 
      rotateX(19.47deg) 
      rotate(30deg) skewY(30deg) scaleX(.866);
  }
  .tetrahedron .side.triangle:nth-child(2):after {
    background: red;
  }
  .tetrahedron .side.triangle:nth-child(3) {
    transform: rotateY(-120deg) translateZ(4.6188em) 
      rotateX(19.47deg) 
      rotate(30deg) skewY(30deg) scaleX(.866);
  }
  .tetrahedron .side.triangle:nth-child(3):after {
    background: black;
  }
  .tetrahedron .side.triangle:last-child {
    transform: translateZ(4.6188em) 
      rotateX(90deg) rotateY(180deg)
      rotate(30deg) skewY(30deg) scaleX(.866);
  }
  .tetrahedron .side.triangle:last-child:after {
    background: blue;
  }

.pyt-triangle{
    width: 0;
    height: 0;
    border-left: 0px solid transparent; /* Adjust the size by changing the border width */
    border-right: 200px solid transparent; /* Adjust the size by changing the border width */
    border-bottom: 150px solid purple; /* Adjust the size and color as needed */
    animation: rotation 20s infinite;
    transform-origin: bottom left;
    position: absolute;
    z-index: 2;
    opacity: 0.7;
}
.pyt-square_c{
    width: 250px;
    height: 250px;
    transform: rotate(36.87deg);
    background-color: aqua;
    position: absolute;
    z-index: 1;
}
.pyt-square_ab{
    width: 350px;
    height: 350px;
    border: 4px solid black;
    position: absolute;
    z-index: 3;
}
@keyframes rotation{
    0%   {transform: translate(-75px, 100px) rotate(0deg);}
    25%  {transform: translate(275px, 100px) rotate(-90deg);}
    50%  {transform: translate(275px, -250px) rotate(-180deg);}
    75%  {transform: translate(-75px, -250px) rotate(-270deg);}
    100% {transform: translate(-75px, 100px) rotate(-360deg);}
}  

#text{
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}
#animation{
    height: 512px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}